body {
    font-family: 'Vina Sans', sans-serif;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}
section.landing-page {
    min-height: 100vh;
    width: 100%;
    /* background-color: #fff; */
}
section.landing-page h1:nth-child(1) {
    /* margin-top: 15vh; */
}
section.landing-page h1 {
    background-color: #f9deff;
    font-size: 10em;
    padding: 10vh;
    /* font-weight: bold; */
    color: #bf00ff;
    font-family: 'Vina Sans', sans-serif;
    text-shadow: 1px 1px 10px #21212184;
}
section.landing-page .kue h2{
    color: #bf00ff;
    /* background-color: #f9deff; */
    width: 100%;
    padding: 1vh 10vh;
    text-shadow: 1px 1px 5px #21212184;
    font-size: 5em;
    /* border-radius: 0px 20px 20px 20px; */
    font-family: 'Vina Sans', sans-serif;
}
marquee span {
    color: #bf00ff;
    background-color: #f9deff;
    width: fit-content;
    padding: 1vh 10vh;
    text-shadow: 1px 1px 5px #21212184;
    font-size: 5em;
    /* border-radius: 0px 20px 20px 20px; */
    font-family: 'Vina Sans', sans-serif;
}
.sub-judul {
    color: #bf00ff;
    /* background-color: #f9deff; */
    width: 100%;
    padding: 1vh 10vh;
    text-shadow: 1px 1px 5px #21212184;
    font-size: 5em;
    /* border-radius: 0px 20px 20px 20px; */
    font-family: 'Vina Sans', sans-serif;
}
.btn-ungu {
    background-color: #bf00ff;
    border: 3px solid #bf00ff;
    color: #fff;
    font-size: 2em;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
    transition: 0.3s;
}
.btn-ungu:hover {
    background-color: #fff;
    color: #bf00ff;
    border: 3px solid #bf00ff;
}
.btn-outline-ungu {
    background-color: #fff;
    border: 3px solid #bf00ff;
    font-size: 2em;
    color: #bf00ff;
    width: 100%;
    border-radius: 0px 20px 20px 0px;
    transition: 0.3s;
}
.btn-outline-ungu:hover {
    background-color: #bf00ff;
    color: #fff;
}
section.landing-page dotlottie-player {
    transition: 0.5s;
    cursor: pointer;
}
section.landing-page dotlottie-player:hover {
    transform: scale(1.3);
}
section.gallery {
    width: 100%;
}
/* #gallery {
    display: none;
} */
section.gallery img.gallery-content {
    width: 100%;
}
section.second-page {
    /* max-height: 100vh; */
    width: 100%;
    padding: 10vh;
}
#second-page {
    display: none;
}
section.second-page .title-quotes p {
    color: #bf00ff;
    font-family: 'Vina Sans', sans-serif;
    font-size: 2em;
}
.surat {
    background-image: url("img/bg-kertas.jpg");
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#end-of-page {
    display: none;
}
section.second-page p.quotes {
    text-align: justify;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
}
section.second-page .text-center img {
    width: 100%;
}
section.end-of-page h1 {
    background-color: #f9deff;
    font-size: 10em;
    padding: 10vh;
    /* font-weight: bold; */
    color: #bf00ff;
    font-family: 'Vina Sans', sans-serif;
    text-shadow: 1px 1px 3px #212121;
}
a.flower dotlottie-player {
    transition: 0.5s;
    cursor: pointer;
}
a.flower dotlottie-player:hover {
    transform: scale(1.3);
}